{% extends 'blog/base.html' %}

{% block title %}Homepage{% endblock %}

{% block left %}
    <hr>
    <h3>
        <a href='{% url 'difficulty-level' level='EASY' %}' class="badge badge-success ml-sm-2">easy</a>
        <a href='{% url 'difficulty-level' level='MEDIUM' %}' class="badge badge-warning text-white">medium</a>
        <a href='{% url 'difficulty-level' level='HARD' %}' class="badge badge-danger">hard</a>
    </h3>
    <hr>
    <h5>
        {% for tag in tags %}
            <a href='{% url 'tag' pk=tag.id  %}' class="badge badge-pill badge-secondary">
                {{ tag }}</a>
        {% endfor %}
    </h5>
    <hr>
{% endblock %}

{% block right %}
    <div class="page-header" style="text-align: center">
        {% for recipe in recipes %}
            <div class="home-header">
                <h3 class="text-center"><a href= '{% url 'recipe_detail' pk=recipe.id  %}' >{{ recipe.recipe_header }}</a></h3>
            </div>
            {% if recipe.image %}
                <a href= '{% url 'recipe_detail' pk=recipe.id  %}'>
                    <img src="{{ recipe.image.url }}" class="img-fluid" alt="No image">
                </a>
            {% endif %}
            <div class="row mt-sm-1">
              <div class="col">
                <a href= '{% url 'recipe-update' pk=recipe.id %}' class="btn btn-outline-info btn-lg btn-block" >Update</a>
              </div>
              <div class="col">
                <a href= '{% url 'recipe-delete' pk=recipe.id %}' class="btn btn-outline-info btn-lg btn-block" >Delete</a>
              </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}