{%  extends 'blog/base.html' %}
{% load static %}

{% block title %}
    Tags
{% endblock %}

{% block right %}
    <h3>
        {% for tag in tags %}
            <a href='{% url 'tag' pk=tag.id  %}' class="badge badge-pill badge-secondary">
                {{ tag }}
            </a>
            <a href='{% url 'tag-delete' pk=tag.id  %}' data-toggle="tooltip" title="Delete tag">
                <i class="fas fa-times text-danger fa-sm"></i></a>
            <br>
        {% endfor %}
    </h3>
{% endblock %}

